body {font-family: Microsoft YaHei Light;}


#readFooter {
	width: 30px;
	height: 15px;
	padding:5px;
	font-size:10px;
	font-weight:bold;
	position:fixed;
	right:0;
	bottom:0;
	-webkit-border-radius:5px;
	border-top: 1px solid #333;
	text-align: center;
	background:#333;
}

/* Causing problems with BBC 
th,td {white-space: nowrap !important;padding:2px 5px !important;}
*/
/* Size options */

.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;
}
.size-midlarge {
	font-size: 20px;
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}
/* Style options */
.style-novel {
	background: #F4F3DB;
	color: #222;
}
.style-ebook {
	background: #eee;
	color: #333;
}
.style-ebook h1 {
	font-weight: normal;
}
.style-newspaper {
	background: #FFF;
	color: #222;
}
.style-newspaper h1 {
	text-transform:capitalize;
}
.style-terminal {
	background: #1D4E2C;
	color: #C6FFC6;
}
/* Margin Options */

.margin-x-wide {
	width: 35%;
}
.margin-wide {
	width: 55%;
}
.margin-medium {
	width: 75%;
}
.margin-narrow {
	width: 95%;
}
