body {color: #eeeeee; font-family: Microsoft YaHei Light;background: #333333;}
#readInner {
	text-align: left;
	line-height: 3em;
	margin: 1em auto;
	max-width: 1000px;
}
#readInner a {
	color: #ff6699;
	text-decoration: none;
	font-family: Microsoft YaHei;
}
